name: Build and Package

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
          server-id: 'github'
          server-username: GITHUB_ACTOR
          server-password: GITHUB_TOKEN
          settings-path: ${{ github.workspace }}
          overwrite-settings: false


      - name: Build and package with Maven
        run: mvn clean verify  -DskipTests
        env:
          GITHUB_ACTOR: ${{ secrets.OSSRH_USERNAME }}
          GITHUB_TOKEN: ${{ secrets.OSSRH_TOKEN }}

      - name: Deploy to GitHub Packages
        if: github.event_name == 'push'
        run: mvn deploy -DskipTests
        env:
          GITHUB_ACTOR: ${{ secrets.OSSRH_USERNAME }}
          GITHUB_TOKEN: ${{ secrets.OSSRH_TOKEN }}
